.main-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 375px
}
.NewMockup1row0 {
  display: flex;
  margin-left: 73px;
  margin-top: 9px;
  width: 145px;
  height: 8px;
  align-items: stretch
}
.NewMockup1row0unsupported4 {
  margin-left: 0;
  width: 41px
}
.NewMockup1row0unsupported2 {
  margin-left: 0;
  width: 8px
}
.NewMockup1row0unsupported1 {
  margin-left: 40px;
  width: 8px
}
.NewMockup1row0unsupported3 {
  margin-left: 0;
  width: 41px
}
.NewMockup1row0unsupported0 {
  margin-left: 0;
  width: 8px
}
.NewMockup1unsupported5 {
  margin-left: 120px;
  margin-top: 10px;
  width: 41px;
  height: 5px
}
.NewMockup1row2 {
  display: flex;
  margin-left: 104px;
  margin-top: 7px;
  width: 127px;
  height: 9px;
  align-items: stretch;
  justify-content: space-between
}
.style14,
.style15,
.style16 {
  font-family: BalsamiqSans,serif;
  font-size: .375em
}
.style0 {
  background-color: #fff;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  display: flex;
  margin-left: 293px;
  margin-top: 1px;
  width: 24px;
  height: 11px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style1,
.style3 {
  font-family: BalsamiqSans,serif;
  font-size: .375em;
  height: 6px
}
.style3 {
  text-align: center;
  font-weight: 700;
  margin-left: 278px;
  margin-top: 3px;
  height: 9px
}
.style2 {
  background-color: #fff;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  display: flex;
  margin-left: 32px;
  margin-top: 0;
  width: 285px;
  height: 189px;
  flex-direction: column
}
.style4 {
  color: #999;
  text-align: right;
  font-family: BalsamiqSans,serif;
  font-size: .375em;
  margin-left: 129px;
  margin-top: 12px;
  height: 9px
}
.NewMockup1container0row1 {
  display: flex;
  margin-left: 89px;
  margin-top: 11px;
  width: 181px;
  height: 14px;
  align-items: stretch
}
.style8 {
  background-color: #fff;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  display: flex;
  margin-left: 0;
  width: 47px;
  flex-direction: column;
  justify-content: center
}
.style9 {
  font-family: BalsamiqSans,serif;
  font-size: .375em;
  margin-left: 14px;
  height: 9px
}
.style5 {
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  background-color: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-indent: 5px;
  display: flex;
  margin-left: 1px;
  width: 133px;
  flex-direction: column;
  justify-content: center
}
.class-40599ujjiu162oj,
.class-40599ujjiu162oj::placeholder {
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: absolute;
  color: #999;
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: .375em;
  text-indent: 5px
}
.NewMockup1container0row1textfield0unsupported6 {
  margin-left: 116px;
  width: 8px;
  height: 8px
}
.NewMockup1container0unsupported10 {
  margin-top: 7px;
  width: 259px;
  height: 5px;
  align-self: center
}
.style10 {
  background-color: #fff;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  display: flex;
  margin-left: 89px;
  margin-top: 5px;
  width: 181px;
  height: 107px;
  flex-direction: column
}
.NewMockup1container0container2row0 {
  display: flex;
  margin-left: 74px;
  margin-top: 5px;
  width: 99px;
  height: 33px
}
.style11,
.style12 {
  font-family: BalsamiqSans,serif;
  font-size: .375em;
  margin-left: 26px;
  margin-top: 5px;
  height: 10px
}
.style12 {
  color: #999;
  margin-left: 0;
  margin-top: 19px
}
.NewMockup1container0container2row0unsupported7 {
  margin-left: 5px;
  width: 33px;
  height: 100%;
  align-self: stretch
}
.NewMockup1container0container2unsupported11 {
  margin-left: 14px;
  margin-top: 5px;
  width: 126px;
  height: 5px
}
.style13 {
  color: #666;
  font-family: BalsamiqSans,serif;
  font-size: .375em;
  margin-left: 17px;
  margin-top: 3px;
  width: 158px
}
.NewMockup1container0container2row3 {
  position: relative;
  display: flex;
  margin-left: 23px;
  margin-top: 15px;
  width: 127px;
  height: 15px;
  align-items: center
}
.NewMockup1container0container2row3unsupported8 {
  position: relative;
  margin-left: 0;
  width: 27px;
  height: 100%;
  flex-shrink: 0
}
.NewMockup1container0container2row3unsupported9,
.style18 {
  margin-left: 24px;
  width: 11px;
  height: 11px;
  flex-shrink: 0
}
.style18 {
  background-color: rgba(204,204,204,.25);
  border-left: 1px solid #009e0f;
  border-right: 1px solid #009e0f;
  border-top: 1px solid #009e0f;
  border-bottom: 1px solid #009e0f;
  opacity: .25;
  margin-left: 37px;
  width: 27px
}